body {
  overflow-x: hidden;
}

.scrollingWords {
  --fontSize: 70px;
  margin: -25px;
  transition: opacity 0.5s;
}

.scrollingWords:nth-of-type(even) {
  animation: scrollUp 20s infinite linear;
}

.scrollingWords:nth-of-type(odd) {
  animation: scrollDown 20s infinite linear;
}

@-webkit-keyframes scrollUp {
  to {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
}
@keyframes scrollUp {
  to {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
}
@-webkit-keyframes scrollDown {
  from {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes scrollDown {
  from {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
  to {
    transform: translate(0, 0);
  }
}

.growOnHover:hover {
  scale: 1.1;
  transition: scale 0.2s;
}

.growOnHover:active {
  scale: 0.9;
  transition: scale 0.2s;
}

.growOnHover {
  transition: scale 0.3s;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.dark-selection::-moz-selection {
  /* Code for Firefox */
  color: #ae2e3a;
  background: rgba(255, 255, 254);
}

.dark-selection::selection {
  color: #ae2e3a;
  background: rgba(255, 255, 254);
}
