.scrollingWords:nth-of-type(even) {
  margin: 0;
  animation: scrollUp 15s infinite linear;
}

.scrollingWords:nth-of-type(odd) {
  margin: 0;
  animation: scrollDown 15s infinite linear;
}

@-webkit-keyframes scrollUp {
  to {
    transform: translate(0, calc(-80px * 20));
  }
}
@keyframes scrollUp {
  to {
    transform: translate(0, calc(-80px * 20));
  }
}
@-webkit-keyframes scrollDown {
  from {
    transform: translate(0, calc(-80px * 20));
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes scrollDown {
  from {
    transform: translate(0, calc(-80px * 20));
  }
  to {
    transform: translate(0, 0);
  }
}
