body {
  overflow-x: hidden;
}

textarea::placeholder {
  color: rgba(255, 255, 254, 0.8);
}

.scrollingWords {
  --fontSize: 70px;
  margin: -25px;
  transition: opacity 0.5s;
}

.scrollingWords:nth-of-type(even) {
  animation: scrollUp 20s infinite linear;
}

.scrollingWords:nth-of-type(odd) {
  animation: scrollDown 20s infinite linear;
}

@-webkit-keyframes scrollUp {
  to {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
}
@keyframes scrollUp {
  to {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
}
@-webkit-keyframes scrollDown {
  from {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes scrollDown {
  from {
    transform: translate(0, calc(var(--fontSize) * -20));
  }
  to {
    transform: translate(0, 0);
  }
}

.growOnHover:hover {
  scale: 1.1;
  transition: scale 0.2s;
}

.growOnHover:active {
  scale: 0.9;
  transition: scale 0.2s;
}

.growOnHover {
  transition: scale 0.3s;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  text-decoration: none;
  outline: none;
}

.dark-selection::-moz-selection {
  /* Code for Firefox */
  color: #ae2e3a;
  background: rgba(255, 255, 254);
}

.dark-selection::selection {
  color: #ae2e3a;
  background: rgba(255, 255, 254);
}

/* typing loader */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
