@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  background-color: #ff416c;
}

body,
input,
textarea,
button {
  font-family: inherit;
}

button {
  border: 0;
  text-decoration: none;
  outline: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea::-moz-selection {
  /* Code for Firefox */
  color: #ae2e3a;
  background: rgba(255, 255, 254);
}

textarea::selection {
  color: #ae2e3a;
  background: rgba(255, 255, 254);
}

/* Scrollar Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollar Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollar Handle */
::-webkit-scrollbar-thumb {
  background: #721f22;
  transition: background 0.5s;
  border-radius: 10px;
  cursor: grab;
}

/* Scrollar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d191b;
}
